body {
    background: #101010;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-size: 1.3rem;
    line-height: 1.3;
}

a {
    color: inherit;
}

header {
    display: flex;
    padding: 10px 0;
}

header nav {
    flex: 1;
    align-items: flex-end;
}
header nav a {
    font-size: 22px;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

nav {
    margin-left: auto;
    text-align: right;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
}

nav a.active {
    font-weight: bold;
}

.cols {
    display: flex;
    column-gap: 30px;
}

.cols div {
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.active {
    font-weight: bold;
}

.director-body {
    display: flex;
    column-gap: 25px;
    align-items: flex-start;
}

.director-body img {
    width: 200px;
    object-fit: contain;
}

.director-body p {
    margin: 0;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

#banner {
    border: 3px solid rgb(0, 165, 0);
    background: rgba(0, 128, 0, 0.485);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    padding: 15px;
    display: block;
}

#banner img {
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.discord-name {
    margin-top: -15px;
    font-size: 16px;
    vertical-align: middle;
}

.discord-name img {
    height: 16px;
    vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
    
    .cols, .grid {
        display: block;
    }
}

@media only screen and (max-width: 768px) {

    header {
        display: flex;
        align-items: center;
    }
    header nav {
        flex: 1;
        text-align: center;
    }
    header nav a {
        font-size: 22px;
    }

    .director-body {
        display: block;
    }

    .director-body img {
        width: 100%;
    }

}