body {
    background: #101010;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.15em;
    line-height: 1.3;
    background-image: url('/assets/bg-Top.png'), url('/assets/bg-Bottom.png');
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    background-size:contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    padding: 20px;
  }

h1, h2, h3 {
  font-weight: 400;
  font-style: normal;
}

p, ul, li {
    color: #fff;
    
}

a {
    color: inherit;
}

header {
    display: flex;
    padding: 20px 0;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);

}

header nav {
    flex: 1;
}
header nav a {
    font-size: 20px;
}

header img {
    filter: brightness(0) invert(1) grayscale(1);
}

.logo-nav-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}


nav a {
    text-decoration: none;
}

nav a:not(:first-child) {
    margin-left: 20px;
}

nav a.active {
    font-weight: 500;
}

.cols {
    display: flex;
    column-gap: 30px;
}

.cols div {
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.active {
    font-weight: bold;
}

.director-body {
    display: flex;
    column-gap: 25px;
    align-items: flex-start;
}

.director-body img {
    width: 200px;
    object-fit: contain;
}

.director-body p {
    margin: 0;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

.banner {
    border: 3px solid rgb(108, 49, 110);
    background: rgba(82, 44, 83, 0.485);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    padding: 15px;
    display: block;
    font-size: 18px;
    text-decoration: none;
}

.banner:hover {
    background-color: rgba(117, 51, 119, 0.7);
}

.banner img {
    height: 16px;
    vertical-align: middle;
    float: right;
}

.discord-name {
    margin-top: -15px;
    font-size: 16px;
    vertical-align: middle;
}

.discord-name img {
    height: 16px;
    vertical-align: middle;
}

.partner {
    display: flex;
    margin: 30px 0;
    column-gap: 30px;
}

.partner a {
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.partner a img {
    display: block;
    width: 100%;
}

.event-list a {
    text-decoration: none;
}

#membership-helps {
    padding: 0;
    margin: 0;
    row-gap: 30px;
}

#membership-helps li {
    list-style: none;
    border: 1px solid rgb(108, 49, 110);
    padding: 10px;
    background: rgba(82, 44, 83, 0.1);
    text-align: center;;
}

#constitution {
    font-weight: bold;
}

#options li {
    margin-bottom: 10px;
}

.carousel-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.slick-nav {
    width: 80%;
    margin: 0 auto;
}

.slick-nav img {
    width: 95%;
}

@media only screen and (max-width: 1024px) {
    
    .cols, .grid {
        display: block;
    }

    .partner {
        display: block;
    }

    #membership-helps li {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {

    header {
        display: flex;
        align-items: center;
    }
    header nav {
        flex: 1;
        text-align: center;
    }
    header nav a {
        font-size: 22px;
    }

    .director-body {
        display: block;
    }

    .director-body img {
        width: 100%;
    }

}
