body {
    background: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-size: 1.3rem;
    line-height: 1.3;
}
a {
    color: inherit;
}
#logo {
    display: block;
    width: 150px;
    height: auto;
    margin: 40px auto 60px auto;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
}
#banner {
    border: 1px solid green;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}
#LOCKUP {
    fill: green
}
.cols {
    display: flex;
    column-gap: 30px;
}
.cols div {
    flex: 1;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
@media only screen and (max-width: 1024px) {
    
    .cols, .grid {
        display: block;
    }
}